.scroll-to-top {
  width: 50px !important;
  height: 50px !important;
  font-size: 2rem;
  background-color: #79c000 !important;
  border-radius: 10rem !important;
}

.floating {
  color: #fff;
  position: absolute;
  top: 8rem;
  z-index: 2;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 0.8;
  width: 22%;
}

.floating a {
  background-color: #0056fe;
  margin-top: 0.75vw;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  padding: 0.55vw 2.15rem;
}
.floating span {
  font-size: 4vw;
  font-family: Codere;
  line-height: 4vw;
}

.content-table {
  margin: auto;
  color: #fff;
  padding: 1.25rem;
  width: 85%;
  /* box-shadow: #7ac00049 0px 2px 6px, #7ac00017 0px 1px 4px,
    #7ac00013 0px 0px 12px; */
  background-color: #282828;
  border-radius: 0.45rem;
}
.content-table svg {
  padding: 0.25rem;
  margin-right: 1rem;
  background-color: #333f48;
  text-align: center;
  border-radius: 1.5rem;
}
.flexed-centered {
  display: flex;
  align-items: center;
}

.tabla {
  display: flex;
}

._tx {
  margin: 0.35rem;
}

._tx a {
  text-decoration: underline;
  color: #fff;
}

.content-table a:hover,
.content-table a:active,
.content-table a:focus {
  color: #4b7502 !important;
}

#tipos h2,
#tipos h3 {
  color: #79c000;
}

.para {
  color: #79c000;
  padding-top: 4.1rem;
}

@media screen and (max-width: 767px) {
  .scroll-to-top {
    right: 5vw !important;
    bottom: 18vw !important;
  }

  .scroll .fa-chevron-up {
    font-size: 2rem;
    padding: 0.7rem, 0.3rem, 0.7rem, 0.3rem;
  }

  .floating {
    top: 38vw;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .floating a {
    margin-top: 1.15rem;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.55rem 1.65rem;
    line-height: 1;
  }
  .floating span {
    font-size: 2.5rem;
    line-height: 2.7rem;
  }

  .content-table {
    width: 100%;
    display: block;
    max-width: 450px;
    min-width: 300px;
    padding: 1.75rem;
  }
  .para {
    color: #79c000;
    padding-top: 0;
  }
}

@media screen and (max-width: 320px) {
  .content-table {
    padding: 0.75rem;
  }
}
