.footerLinkData43 {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
}
.footerTextData43 {
  font-size: 1.2rem;
  text-align: center;
}
.codere-text-footer7852TR {
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .codere-text-footer7852TR {
    text-align: left;
  }
  .footerData43mobile {
    flex-direction: column-reverse;
  }

  .footerData43ImageMobileF {
    align-items: center;
    text-align: center;
  }
  .footerData43ImageMobile {
    max-width: 90%;
  }

  .footerTextData43 {
    font-size: 0.9rem;
  }
  .footerLinkData43 {
    font-size: 1rem;
  }
}
