#game_svg {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  animation-name: sideToSide;
  animation-duration: 0.8s;
  margin-left: 0.2vw;
  position: relative;
  top: 1px;
}

@keyframes sideToSide {
  0% {
    transform: translateX(0.2rem);
  }

  50% {
    transform: translateX(-0.1rem);
  }

  100% {
    transform: translateX(0.2rem);
  }
}

#desktop_games {
  text-align: center;
}

#desktop_games h2 {
  color: #fff;
  font-size: 1.4vw;
  color: #e8e5e5;
  font-weight: 700;
  margin-bottom: 1vw;
  letter-spacing: 1px;
  margin-top: 1vw;
}

#desktop_games h1:nth-child(1) {
  margin-top: 3vw;
}

.top_games_conatiner {
  display: inline-flex;
  grid-template-columns: auto auto 0;
  grid-gap: 3rem;
  padding: 2rem 0 4rem;
}

.top_games_conatiner .topGame {
  margin: auto;
  width: 35vw;
}

.topGameImage,
.game_logo {
  transition: 0.3s;
}

.top_games_conatiner .topGame:hover .topGameImage {
  transform: scale(0.95);
}

.top_games_conatiner .card {
  background-color: #26363f;
  border-radius: 40px;
  height: 24vw;
  padding: 1rem;
  position: relative;
  overflow-x: hidden;
  border-radius: 16px;
}

img.topGameImage {
  position: absolute;
  width: 35vw;
  top: 0;
  left: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.78);
}

img.game_logo {
  margin: auto;
  position: absolute;
  width: 19vw;
  top: 7vw;
  z-index: 1;
  right: 2vw;
}

.top_games_conatiner .topGame:nth-child(2) .game_logo {
  top: 5vw;
  left: 0;
  right: 0;
}

img.game_logo:hover {
  transform: scale(1.15);
}

.game_info {
  bottom: 8px;
  position: absolute;
  text-align: left;
  border-left: 4px #fff solid;
  border-radius: 1px;
  color: #fff;
  padding-left: 1vw;
  margin-left: 1vw;
}

.topGameTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

/* Botttom Games */
.bottom_conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
  cursor: pointer;
}

.bottom_conatiner h3 {
  margin-top: 6px;
  color: #fff;
  font-size: 1.3vw;
}

.bottom_box .game img {
  width: 22vw;
  border-radius: 15px;
}

/* .bottom_box .logo img {
  height: 5vw;
} */

.bottom_conatiner > div:nth-child(2) > div.bottom_box > div.logo {
  top: 0;
}

.bottom_conatiner :nth-child(3) .logo img {
  height: 10vw;
}

.bottom_conatiner .bottom_card {
  position: relative;
  min-width: 20vw;
  height: 27vw;
  box-shadow: inset 5px 5px 5px rgb(0 0 0 / 20%),
    inset -5px -5px 15px rgb(255 255 255 / 10%), 5px 5px 15px rgb(0 0 0 / 30%),
    -5px -5px 15px rgb(255 255 255 / 10%);
  border-radius: 15px;
  margin: 25px 0;
  transition: 0.5s;
}

/* .bottom_content a {
    background: #2196f3;
  } */

.bottom_conatiner .bottom_card .bottom_box {
  position: absolute;
  height: 25vw;
  top: -0.3vw;
  left: 15px;
  right: 15px;
  bottom: 0;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.bottom_conatiner .bottom_card:hover .bottom_box {
  transform: scale(0.9) translateY(-3vw);
}

.bottom_conatiner .bottom_card .bottom_box .bottom_content {
  padding: 10px;
  text-align: center;
}

.bottom_conatiner .bottom_card .bottom_box .bottom_content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.1);
}

.bottom_conatiner .bottom_card .bottom_box .bottom_content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.bottom_conatiner > a:nth-child(1) .logo,
.bottom_conatiner > a:nth-child(3) .logo {
  bottom: 10px;
}
.bottom_conatiner > a:nth-child(2) .game_logo {
  top: 120px;
}
.bottom_conatiner > a:nth-child(2) .logo img,
.bottom_conatiner > a:nth-child(3) .logo img {
  height: 6rem;
}

.bottom_box .logo {
  position: absolute;
  z-index: 9999;
}

.bottom_conatiner .bottom_card .bottom_box .bottom_content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.bottom_content span {
  display: inline-block;
  position: relative;
  top: 21.5vw;
  color: white;
  font-size: 1.2vw;
  padding: 6px 23px 6px 25px;
  margin-bottom: 0.4vw;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  z-index: -1;
}

.bottom_game_title {
  position: relative;
  top: 21.5vw;
}

.bottom_conatiner .bottom_card .bottom_box .bottom_content a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}

.bottom_content .svg-inline--fa {
  top: 0;
  height: 0.8em;
  left: 5px;
}

.jugar_div {
  position: absolute;
  bottom: 12px;
  right: 10px;
}

.jugar_regis {
  width: 11vw;
  float: right;
  font-size: 1.2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border-radius: 40px;
}

.regis {
  border-radius: 30px;
  font-size: 0.95vw;
  padding: 0.4vw 1.3vw;
  margin: 0;
  margin-left: 0.5vw;
  font-weight: 600;
  display: block;
  height: 100%;
  background: linear-gradient(180deg, #0587f5, #0263b5);
}

.row {
  justify-content: center;
}
